<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erin Highbaugh - Personal Site</title>
    @Styles.Render("~/bundles/customcss")
    @Styles.Render("~/bundles/fab")
    @Styles.Render("~/bundles/fa")

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Work+Sans|Caveat" rel="stylesheet">

    @* !! Must be placed in header tag of main page*@
    @Scripts.Render("~/bundles/gatag")
</head>
<body class="container-fluid">

    @{
        Html.RenderPartial("_HeaderNavBar");
        @Html.Partial("_ResumeTracker")
    }
    <div class="container-fluid">
        @RenderBody()
    </div>

    @Html.Partial("_FooterBar")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
